#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tabsContainer {
  display: flex;
  gap: 20px;
  border-bottom: 1px white solid;
  font-size: 20px;
}

.tab {
  cursor: pointer;
}

.active {
  color: antiquewhite;
}

.tab-item {
  margin: 10px;
  padding: 10px;
}
